@import '../../../../styles/default/style';

.kuiz {
  h1 {
    font-size: $fontSizeL;
    text-align: center;
  }

  h2 {
    font-size: $fontSizeM;
  }

  h3 {
    font-size: $fontSizeS;
    font-weight: bold;
  }

  html {
    font-size: $fontSizeS;
    color: $dark;
  }

  body {
    margin: 0;
    padding: 0;
  }

  .answer {
    line-height: 25px;

    .checkbox {
      width: 20px;
      height: 20px;
      border: 1px solid $dark;
      display: inline-block;
      margin: 0 10px;
      vertical-align: middle;
      transition: background-color 2s linear;
    }

    .checkbox.checked {
      border-color: $secondary;
      background-color: $secondary;
      &:after {
        content: '✓';
        font-size: 15px;
        color: white;
        text-align: center;
        margin-left: 5px;
      }
    }
  }

  .header {
    background-color: $primary;
    width: 100%;
    height: 60px;
    color: white;
    text-align: center;
    line-height: 60px;
    box-shadow: 0 2px 4px 0 black;
  }

  img {
    max-width: 100%;
  }

  .elementList {
    position: relative;
    height: 100%;
    padding: 5px 5px 100px 5px;
  }

  .validation {
    margin-top: 50px;

    .submitContainer {
      position: absolute;
      left: 0;
      right: 0;

      input {
        margin: 0 10px 0 0;
        border: 0;
        border-radius: 5px;
        height: 40px;
        padding: 10px;
      }

      text-align: center;
      margin: 0;
      width: 100%;
      padding: 20px 0;
      border-radius: 0;
      background-color: $primary;

      &:hover {
        background-color: lighten($primary, 15%);
      }
    }
  }

  .kuizContainer {
    height: 100%;
    position: relative;
  }
}
