@import '../../../styles/default/style.scss';

body {
  text-align: center;
  color: $dark;
  font-family: "Lato", Helvetica Neue, Arial;
  font-size: $fontSizeS;
  background-color: $light;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: $fontSizeXL;
}
h2 {
  font-size: $fontSizeL;
}
h3 {
  font-size: $fontSizeM;
}
h4 {
  font-size: $fontSizeS;
  font-weight: bold;
}
a:link, a:visited {
  color: $tertiary;
}
a:hover, a:active {
  color: lighten($tertiary, 15%);
}

.hero {
  background: rgba($primary, .75);
  background: linear-gradient(rgba($primary, .5), rgba($primaryDesaturated, .75));
  color: white;
  padding: 50px 0;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: url('/background.jpg');
    background-size: cover;
    background-position: center;
  }

  h1 {
    margin: 100px 0;
  }

  h2 {
    margin: 70px 0;
    font-size: $fontSizeM;
    font-weight: normal;
  }
}
.demo {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.action {
  background-color: $primaryMidlyDesaturated;
  padding: 50px 0;
  color: white;
}
.edit, .kuiz-container {
  width: 400px;
  text-align: left;
  margin: 0 20px;

  h3 {
    margin-left: 5px;
  }
}
.edit .form, .kuiz-container .kuiz {
  width: 100%;
  height: 500px;
  box-shadow: 0 2px 8px 0 rgba($dark, 0.5);
  border-radius: 5px;
}
.edit {
  .form {
    font-family: Courier;
    font-size: $fontSizeXS;
    background-color: $dark;
    color: white;
    padding: 10px;
    width: 100%;
    border: 0;
  }
}
.kuiz-container {
  .kuiz {
    background-color: white;
    overflow: scroll;
  }
}
.detail {
  padding: 50px 0;
}
.footer {
  padding: 50px 0;
}
.logo {
  width: 64px;
  height: 64px;
  display: inline-block;
  background-image: url('/logo.png');
  background-size: contain;
}
